body{
  height: 1000vh;
}

.container{
  width: 100px;
  height: 500px;
  background-position:center;
  background-size: cover;
  background-image: url(Origami Kingdom Images 2.jpg);
  background-attachment: fixed;

  colour: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
